@{
    ViewBag.Title = "About";
}
<html>
<body>
    <img src="\images\resim.jpg" alt="its me" style="width:304px;height:228px">
    <div style="background-color:black; color:white; margin:20px; padding:20px;">

        <h2>About  Me </h2>
        <h3>Who I am </h3>


        <p>
            I am  Duygu İyison. I am studying  Computer Engineering in Yıldırım Beyazıt University. I love working with startups and enjoys the challenge of crafting beautiful and intuitive experiences out of seemingly complex interactions.
        </p>
        <p>
            I live in Ankara with my two precious sibling  and  my fantastic parent.
        </p>
        <p>
            You can contact me with diyison@gmail.com.
        </p>

    </div>

</body>
</html>
