@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title. Duygu İyison</h2>


<address>
    Kırım Caddesi<br />
    58/C 2/4 EMEK/ANKARA<br />
    <abbr title="Phone">P:</abbr>
    +905067694760
</address>

<address>
    <strong>Email:</strong>   <a href="diyison@gmail.com">diyison@gmail.com</a><br />
   
</address>