@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>One Page Resume</title>
    <link href="~/Content/duygu.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="page-wrap">

        <img src="\images\cthulu.jpg" alt="Photo of Duygu" id="pic" />

        <div id="contact-info" class="vcard">

            <!-- Microformats! -->

            <h1 class="fn">Duygu İyison</h1>

            <p>
                Cell: <span class="tel">+905067694760</span><br />
                Email: <a class="email" href="diyison@gmail.com">diyison@gmail.com</a>
            </p>
        </div>

        <div id="objective">
            <p>
                I am an outgoing and energetic (ask anybody) young professional, seeking a
                career that fits my professional skills, personality, and murderous tendencies.
                My squid-like head is a masterful problem solver and inspires fear in who gaze upon it.
                I can bring world domination to your organization.
            </p>
        </div>

        <div class="clear"></div>

        <dl>
            <dd class="clear"></dd>

            <dt>Education</dt>
            <dd>
                <h2>Yıldırım Beyazıt University - Computer Engineering</h2>
            </dd>

            <dd class="clear"></dd>

            <dt>Skills</dt>
            <dd>
                <h2>Office skills</h2>
                <p>Office and records management, database administration, event organization</p>

                <h2>Computer skills</h2>
                <p>C</p>
                <p>Java </p>
                <p>Data Structures </p>
                <p>ORACLE SQL </p>
                <p> Visual Basic</p>
                <p> Web Technologies(Html,Css,JavaScript)</p>
            </dd>

            <dd class="clear"></dd>

            <dt>Experience</dt>
            <dd>
                <h2>AdaSoft Danışmanlık ve Yazılım Ltd. Şti.<span>www.adasoft.com.tr</span></h2>
                <ul>
                    <li>Sosyal Güvenlik Kurumu(SGK) Dava Takip Projesi</li>
                   
                </ul>

                
            </dd>

            <dd class="clear"></dd>

            <dt>Hobbies</dt>
            <dd> Artificial Intelligence,Sport,Deep Sea Diving</dd>

            <dd class="clear"></dd>

            <dt>References</dt>
            <dd>Available on request</dd>

            <dd class="clear"></dd>
        </dl>

        <div class="clear"></div>

    </div>
</body>
</html>